@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.heroImage{
  background-image: url('./assets/heroimage.jpg');
}

      /* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 20px;
  border: 3px solid #B88E2F;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #B88E2F;
}

